<div class="row header">
  <div class="col-md-12">
    <h3 mat-dialog-title style="font-size: 20px">
      {{ title }}
    </h3>
  </div>
</div>

<div md-dialog-content>
  <div class="row">
    <div class="col-md-12">
      <label for="name">Name: </label>
    </div>
    <div class="col-md-12">
      <input type="text" id="name" [(ngModel)]="item.name" required />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="description">Description: </label>
    </div>
    <div class="col-md-12">
      <input
        type="text"
        id="description"
        [(ngModel)]="item.description"
        required
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="quantity">Quantity: </label>
    </div>
    <div class="col-md-12">
      <input
        type="number"
        type="number"
        min="1"
        onkeypress="return (event.charCode != 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57))"
        id="quantity"
        [(ngModel)]="item.quantity"
        required
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="price">Price: </label>
    </div>
    <div class="col-md-12">
      <input
        type="number"
        min="0"
        id="price"
        [(ngModel)]="item.price"
        required
      />
    </div>
  </div>
</div>

<div md-dialog-actions style="text-align: right; display: block">
  <button
    mat-raised-button
    style="margin: 15px 5px 0px 0px; color: green"
    (click)="save()"
  >
    {{ confirmButton }}
  </button>
  <button
    mat-button
    style="margin: 15px 0px 0px 5px; color: grey"
    (click)="cancel()"
  >
    {{ cancelButton }}
  </button>
</div>
