<div class="row header">
  <div class="col-md-12">
    <h3 mat-dialog-title style="font-size: 20px">
      {{ title }}
    </h3>
  </div>
</div>

<div md-dialog-content>
  <div class="row">
    <div class="col-md-12">
      {{ content }}
    </div>
  </div>
</div>

<div md-dialog-actions style="text-align: right; display: block">
  <button
    mat-raised-button
    style="margin: 15px 5px 0px 0px; color: red"
    (click)="save()"
  >
    {{ confirmButton }}
  </button>
  <button
    mat-button
    style="margin: 15px 0px 0px 5px; color: grey"
    (click)="cancel()"
  >
    {{ cancelButton }}
  </button>
</div>
