.ew-header {
  max-width: 100%;
  background-color: #ff6150;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 7px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    font-size: 20px;
    color: white;
  }
}