<!-- Code-Styleguide Eurowings-Flybase -->

<ew-header
  [title]="'Styleguide-header'"
  [attr.showError]="true"
  [showDebug]="true"
></ew-header>

<div class="styleguide" #styleguide>
  <nav class="styleguide__navigation">
    <ul *ngIf="categories !== undefined">
      <li *ngFor="let entry of categories">
        {{ entry }}
      </li>
    </ul>
  </nav>

  <section class="styleguide__content">
    <h1 #headline>Code-Styleguide</h1>

    <section class="content">
      <h2>Form-Elements</h2>

      <h3>Input:</h3>
      <mat-form-field>
        <label class="input-label" for="textInput">Text Input</label>
        <input
          matInput
          id="textInput"
          type="text"
          [formControl]="sampleFormControl"
          [placeholder]="'Sample Input'"
        />
      </mat-form-field>

      <h3>Radio:</h3>
      <mat-radio-group
        aria-label="Select an option"
        class="sample__radio-buttons"
      >
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>

      <h3>Textarea:</h3>
      <mat-form-field>
        <label class="input-label" for="textareaInput">Text Input</label>
        <textarea id="textareaInput" matInput placeholder="Textarea"></textarea>
      </mat-form-field>

      <h3>Button:</h3>
      <div class="example-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button>Link</a>
      </div>
    </section>
  </section>
</div>

<ew-footer></ew-footer>
